<html ng-app="ESPlus">
<head>
    <style>
        table {
        /*    width: 100%;*/
            width: 1000px;
        }

        thead, tbody { display: block; }

        tbody {
        /*    height: 250px;*/
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody td, thead th {
            width: 20%;  /* Optional */
        }

        tbody input {
            width: 100%;
        }
    </style>

    <script type="text/javascript" src="/javascripts/firebase.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui-router.min.js"></script>
</head>
<body ng-controller="MainCtrl">

<div style="margin-left:50px;">
    <h1>ES+Firebase Web Client</h1>

    <button ng-click="createEntity()">Create!</button>

    <table style="height: 30px;">

        <tbody style="border: solid thin black; height:150px;">
            <tr>
                <td>{{selectedKey}}</td>
                <td>{{selected.Id}}</td>
                <td><input ng-model="selected.Name"/></td>
                <td><input ng-model="selected.WhichEntity" /></td>
                <td><button ng-click="updateEntity()">Update!</button></td>
                <td><button ng-click="addRow()">Add Row!</button></td>
            </tr>
             <tr ng-repeat="step in selected.Steps">
                <td><input ng-model="step.Name" /></td>
                <td><input type="date" ng-model="step.Start" /></td>
                <td><input type="date" ng-model="step.End" /></td>
                <td><input ng-model="step.Note" /></td>
            </tr>
        </tbody>

        <tbody style="height:250px;">
            <tr ng-repeat="(key,val) in model" ng-if="key != '_metadata'">
                <td>{{key}}</td>
                <td>{{val.Id}}</td>
                <td><input ng-model="val.Name" /></td>
                <td><input ng-model="val.WhichEntity" /></td>
                <td><button ng-click="selectEntity(key,val)">Edit</button></td>
            </tr>
        </tbody>

    </table>

</div>

    <footer>
        <p>&copy; 2014, Brandon Wilhite</p>
    </footer>


<script type="text/javascript">

    myFirebaseRef = new Firebase("https://test-workflow.firebaseio.com/Org1/Aggregates/Entity1/");

    function runScope(angularScope,callback){

		var result = void 0;
		var phase = angularScope.$root.$$phase;

		if(phase == '$apply' || phase == '$digest'){
			result = callback(angularScope);
		}else{
			angularScope.$apply(function(){
				result = callback(angularScope);
			});
		}

	    return result;
	}

</script>
<script type="text/javascript">

angular.module('ESPlus',[])
.controller('MainCtrl',['$scope','$http','$log',function($scope,$http,$log){

    $scope.model = {
        '0': {
            Name: 'foo'
        },
        '1': {
            Name: 'bar'
        }

    };

    $scope.model = {};
    $scope.selected = {
        Name: 'fizz',
        WhichEntity: 5,
        Id: 'buzz',
        Steps: [
            {Name: 'Step1', Start: new Date(), End: new Date(), Note: ''},
            {Name: 'Step1', Start: new Date(), End: new Date(), Note: ''},
            {Name: 'Step1', Start: new Date(), End: new Date(), Note: ''},
            {Name: 'Step1', Start: new Date(), End: new Date(), Note: ''}
        ]
    };
    $scope.selectedKey = '-1';

    $scope.addRow = function(){
        if(!$scope.selected.Steps) $scope.selected.Steps = [];

        $scope.selected.Steps.push({Name: 'StepName', Start: new Date(), End: new Date(), Note: 'Note'});
    };

    $scope.selectEntity = function(key,val){
        $scope.selected = val;
        $scope.selectedKey = key;
    };

    $scope.createEntity = function() {

        $http.post('/Entity1',
        {
            WhichEntity: 18,
            Name: "Uncle Fester",
            _metadata: { }
        })
        .then(function(data){
            $log.log('http success: ' + JSON.stringify(data));
        })
        .catch(function(err){
            $log.log('http error: ' + JSON.stringify(err));
        });

    };

    $scope.updateEntity = function(){

        $http.put('/Entity1',$scope.selected)
        .then(function(data){
            $log.log('http success: ' + JSON.stringify(data));
        })
        .catch(function(err){
            $log.log('http error: ' + JSON.stringify(err));
        });

    };

    myFirebaseRef.child("current").on("value", function(snapshot) {

        runScope($scope,function(){
            $scope.model = snapshot.val();
        });

        console.log('model update received');
    });

}])

;

</script>

</body>
</html>
