<html ng-app="ESPlus">
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

    <style>
        table {
            width: 1000px;
        }

        thead, tbody { display: block; }

        tbody {
            overflow-y: auto;
            overflow-x: hidden;
        }

        tbody td, thead th {
            width: 20%;  /* Optional */
        }

        tbody input {
            width: 100%;
        }
    </style>

<!--	<script type="text/javascript" src="http://10.0.0.42:3000/javascripts/socket.io.js"></script>-->
<!--	<script type="text/javascript" src="http://192.168.56.100:3000/javascripts/socket.io.js"></script>-->
	<script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui-router.min.js"></script>
</head>
<body ng-controller="MainCtrl">

<div style="margin-left:50px;">
    <h1>ES+Realtime Model Push Web Client</h1>
	<div>
		<label>Count Received: {{countReceived}}</label> <br />
		<label>Single Perf Limit: <input ng-model="singlePerfLimit" /></label>
	</div><br />

    <button ng-click="createEntity()">Create!</button>
				<td><button ng-click="postEvent()">Post Event!</button></td>

    <table style="height: 30px;">

        <tbody style="border: solid thin black; height:150px;">
            <tr>
                <td>{{selectedKey}}</td>
                <td>{{selected.Id}}</td>
                <td><input ng-model="selected.Name"/></td>
                <td><input ng-model="selected.WhichEntity" /></td>
                <td><button ng-click="updateEntity()">Update!</button></td>
                <td><button ng-click="addRow()">Add Row!</button></td>
            </tr>
             <tr ng-repeat="step in selected.Steps">
                <td><input ng-model="step.Name" /></td>
                <td><input type="date" ng-model="step.Start" /></td>
                <td>{{step.Start}}</td>
                <td><input type="date" ng-model="step.End" /></td>
                <td><input ng-model="step.Note" /></td>
            </tr>
        </tbody>

        <tbody style="height:250px;">
            <tr ng-repeat="val in model track by $index">
                <td>{{val._metadata.streamOrder}}</td>
                <td>{{val._metadata.eventId}}</td>
                <td><input ng-disabled="true" ng-model="val.Name" /></td>
                <td><input ng-disabled="true" ng-model="val.WhichEntity" /></td>
                <td><button ng-click="selectEntity(val)">Edit</button></td>
            </tr>
        </tbody>

    </table>

</div>

    <footer>
        <p>&copy; 2014, Brandon Wilhite</p>
    </footer>


<script type="text/javascript">

	var eventStream = io('http://localhost:4000');
	eventStream.on('connect',function(){
		console.log('connected to stream');
	});


	var _base = 'http://localhost:6001';

	var onValue = function(data){};

	var getRef = function(path){
		var root = io(_base);

		root.on('subscribed',function(path){
			console.log('server ack ' + path);
			var socket = io(_base + path);

			socket.on('POST',function(data){
				onValue(data);
			});
		});

		root.on('connect',function(){
			console.log('subscribing to /TestOrg');
			root.emit('subscribe','/TestOrg/current/0');
		});
	};

    function runScope(angularScope,callback){

		var result = void 0;
		var phase = angularScope.$root.$$phase;

		if(phase == '$apply' || phase == '$digest'){
			result = callback(angularScope);
		}else{
			angularScope.$apply(function(){
				result = callback(angularScope);
			});
		}

	    return result;
	}

</script>
<script type="text/javascript">

angular.module('ESPlus',[])
.controller('MainCtrl',['$scope','$http','$log',function($scope,$http,$log){

    $scope.model = [];

    $scope.selected = { };
    $scope.selectedKey = '';

    $scope.addRow = function(){
        if(!$scope.selected.Steps) $scope.selected.Steps = [];

        $scope.selected.Steps.push({Name: 'StepName', Start: new Date(), End: new Date(), Note: 'Note'});
    };

    $scope.selectEntity = function(key,val){
        $scope.selected = val;
        $scope.selectedKey = key;
    };

    $scope.createEntity = function() {
/*
        $http.post('/Entity1',
        {
            WhichEntity: 18,
            Name: "Uncle Fester",
            _metadata: { }
        })
        .then(function(data){
            $log.log('http success: ' + JSON.stringify(data));
        })
        .catch(function(err){
            $log.log('http error: ' + JSON.stringify(err));
        });
*/
    };

	$scope.postEvent = function(){

		eventStream.emit('POST',{
			WhichEntity: 18,
			Name: "Morticia",
			_metadata: { }
		});

		/*NOTE: websockets are preferred over POST

		//NOTE: angularjs requires us to escape the colon
		$http.post('http://localhost\:4000/Stream',
		{
			WhichEntity: 18,
			Name: "Morticia",
			_metadata: { }
		})
		.then(function(data){
			$log.log('http success: ' + JSON.stringify(data));
		})
		.catch(function(err){
			$log.log('http error: ' + JSON.stringify(err));
		});
		*/

	};

    $scope.updateEntity = function(){

        $http.put('/Entity1',$scope.selected)
        .then(function(data){
            $log.log('http success: ' + JSON.stringify(data));
        })
        .catch(function(err){
            $log.log('http error: ' + JSON.stringify(err));
        });

    };

	var modelUpdate = function(snapshot){

		runScope($scope,function(){
			var _model = snapshot;

            console.log('received new model: ' + JSON.stringify(_model));

			$scope.model = _model;
		});
	};

	onValue = modelUpdate;

	getRef();

}])

;

</script>

</body>
</html>
