<html ng-app="ESPlus">
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardTable.css">

    <style>
        thead, tbody { display: block; }

        tbody {
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>

    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
	<script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui-router.min.js"></script>
</head>
<body ng-controller="MainCtrl">

<div style="margin-left:50px;">
    <h1>ES+Realtime Model Push Performance Dashboard</h1>

    <label>Name: {{model.name}}</label><br />
    <label>Start: {{model.startTime}}</label><br />
    <label>End: {{model.endTime}}</label><br />

    <!--Dirty hack-->
    <table style="margin-bottom:-28px;" class="CSSTableGenerator">
        <tbody style="display: block; overflow-y: auto; overflow-x: hidden;">
<!--

                streamOrder: evt.streamOrder,
                eventId: evt.eventId,

                TotalTime: evt.perfStreamReceived - evt.perfClientSent,
                SendToStream: evt.perfStreamReceived - evt.perfClientSent,
                Between1: evt.perfBeginCommit - evt.perfStreamReceived,
                WriteToDisk: evt.perfEndCommit - evt.perfBeginCommit,
                Between2: evt.perfPublishEvent - evt.perfEndCommit,
                SendToBLP: evt.perfPublishReceived - evt.perfPublishEvent,
                BLPlogic: evt.perfSendToStore - evt.perfPublishReceived,
                SendToStore: evt.perfStoreReceived - evt.perfSendToStore,
                SetModel: evt.perfNotifyModelChange - evt.perfStoreReceived,
                SendToClient: evt.perfClientReceived - evt.perfNotifyModelChange-->
            <tr>
                <td>#</td>
                <td>Stream Order</td>
                <td>Event Id</td>
                <td>Total Time</td>
                <td>Send To Stream</td>
                <td>Between1</td>
                <td>Write To Disk</td>
                <td>Between2</td>
                <td>Send To BLP</td>
                <td>BLP Logic</td>
                <td>Send To Store</td>
                <td>Set Model</td>
                <td>Send To Client</td>
            </tr>
            <tr style="display:none;" ng-repeat="val in headerRow track by $index | orderBy:streamOrder">
                <td>99</td>
                <td>{{val.streamOrder}}</td>
                <td>1a1b00a0-875e-4b12-9c50-88591bacb065</td>
                <td>{{val.TotalTime}}</td>
                <td>{{val.SendToStream}}</td>
                <td>{{val.Between1}}</td>
                <td>{{val.WriteToDisk}}</td>
                <td>{{val.Between2}}</td>
                <td>{{val.SendToBLP}}</td>
                <td>{{val.BLPlogic}}</td>
                <td>{{val.SendToStore}}</td>
                <td>{{val.SetModel}}</td>
                <td>{{val.SendToClient}}</td>
            </tr>
            <tr style="opacity:0;color:rgb(170, 212, 255);" ng-repeat="val in headerRow track by $index | orderBy:streamOrder">
                <td>99</td>
                <td>{{val.streamOrder}}</td>
                <td>1a1b00a0-875e-4b12-9c50-88591bacb065</td>
                <td>{{val.TotalTime}}</td>
                <td>{{val.SendToStream}}</td>
                <td>{{val.Between1}}</td>
                <td>{{val.WriteToDisk}}</td>
                <td>{{val.Between2}}</td>
                <td>{{val.SendToBLP}}</td>
                <td>{{val.BLPlogic}}</td>
                <td>{{val.SendToStore}}</td>
                <td>{{val.SetModel}}</td>
                <td>{{val.SendToClient}}</td>
            </tr>
        </tbody>
    </table>

    <table class="CSSTableGenerator">
        <tbody style="height:250px; display: block; overflow-y: auto; overflow-x: hidden;">
            <tr style="line-height:0px;">
                <td>#</td>
                <td>Stream Order</td>
                <td>Event Id</td>
                <td>Total Time</td>
                <td>Send To Stream</td>
                <td>Between1</td>
                <td>Write To Disk</td>
                <td>Between2</td>
                <td>Send To BLP</td>
                <td>BLP Logic</td>
                <td>Send To Store</td>
                <td>Set Model</td>
                <td>Send To Client</td>
            </tr>
            <tr ng-repeat="val in model.data track by $index | orderBy:streamOrder">
                <td>{{$index}}</td>
                <td>{{val.streamOrder}}</td>
                <td>{{val.eventId}}</td>
                <td>{{val.TotalTime}}</td>
                <td>{{val.SendToStream}}</td>
                <td>{{val.Between1}}</td>
                <td>{{val.WriteToDisk}}</td>
                <td>{{val.Between2}}</td>
                <td>{{val.SendToBLP}}</td>
                <td>{{val.BLPlogic}}</td>
                <td>{{val.SendToStore}}</td>
                <td>{{val.SetModel}}</td>
                <td>{{val.SendToClient}}</td>
            </tr>
        </tbody>
    </table>

</div>

    <footer>
        <p>&copy; 2014, Brandon Wilhite</p>
    </footer>

<script type="text/javascript">

    function runScope(angularScope,callback){

		var result = void 0;
		var phase = angularScope.$root.$$phase;

		if(phase == '$apply' || phase == '$digest'){
			result = callback(angularScope);
		}else{
			angularScope.$apply(function(){
				result = callback(angularScope);
			});
		}

	    return result;
	}

</script>
<script type="text/javascript">

angular.module('ESPlus',[])
.controller('MainCtrl',['$scope','$http','$log',function($scope,$http,$log){

    $scope.model = [];
    $scope.headerRow = [];

    $http.get('http://54.68.110.91\:6001/Store/TestOrg/current/0')
    .then(function(data){

/*
Total Time (client received - client sent)
SendToStream (Stream Received - Client Sent)
Between1 (Begin Commit - Stream Received)
WriteToDisk (End Commit - Begin Commit)

Between2 (Publish Event - End Commit)
SendToBLP (Publish Received - Publish Event)
BLPlogic (perfSendToStore - Publish Received)

SendToStore (perfStoreReceived - perfSendToStore)
SetModel (notify model change - perfStoreReceived)
SendToClient (Client Received - Notify Model Change)
*/

        data.data.data = _.map(data.data.data,function(e){
            var evt = e._metadata;
            var _newEvt = {
                streamOrder: evt.streamOrder,
                eventId: evt.eventId,

                TotalTime: evt.perfClientReceived - evt.perfClientSent,
                SendToStream: evt.perfStreamReceived - evt.perfClientSent,
                Between1: evt.perfBeginCommit - evt.perfStreamReceived,
                WriteToDisk: evt.perfEndCommit - evt.perfBeginCommit,
                Between2: evt.perfPublishEvent - evt.perfEndCommit,
                SendToBLP: evt.perfPublishReceived - evt.perfPublishEvent,
                BLPlogic: evt.perfSendToStore - evt.perfPublishReceived,
                SendToStore: evt.perfStoreReceived - evt.perfSendToStore,
                SetModel: evt.perfNotifyModelChange - evt.perfStoreReceived,
                SendToClient: evt.perfClientReceived - evt.perfNotifyModelChange

/*
                perfClientSent: 0,
                perfStreamReceived: evt.perfStreamReceived - evt.perfClientSent,
                perfBeginCommit: evt.perfBeginCommit - evt.perfStreamReceived,
                perfEndCommit: evt.perfEndCommit - evt.perfBeginCommit,
                perfPublishEvent: evt.perfPublishEvent - evt.perfEndCommit,
                perfPublishReceived: evt.perfPublishReceived - evt.perfPublishEvent,
                perfNotifyModelChange: evt.perfNotifyModelChange - evt.perfPublishReceived,
                perfClientReceived: evt.perfClientReceived - evt.perfNotifyModelChange
                */
            };
            return _newEvt;
        });

        $scope.headerRow = [data.data.data[data.data.data.length - 1]];

        $scope.model = data.data;
    })
    .catch(function(err){
        $log.log('http error: ' + JSON.stringify(err));
    });

}])

;

</script>

</body>
</html>
