<html ng-app="ESPlus">
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardTable.css">

    <style>
        thead, tbody { display: block; }

        tbody {
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>

    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
	<script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui-router.min.js"></script>
</head>
<body ng-controller="MainCtrl">

<div style="margin-left:50px;">
    <h1>Hyperloop Performance Dashboard</h1>

    <label>Name: {{dataHeader.name}}</label><br />
    <label>Start: {{dataHeader.startTime}}</label><br />
    <label>End: {{dataHeader.endTime}}</label><br />

    <ul class="pagination" ng-hide="loading">   
        <li><a ng-click="">&laquo;</a></li>
        <li ng-repeat="r in ranges track by $index">
            <a ng-click="setRange(r)">{{$index + 1}}</a>
        </li>
        <li><a ng-click="">&raquo;</a></li>
    </ul>

    <div style="width:80%;">
    <!--Dirty hack-->
    <table style="margin-bottom:-28px;" class="CSSTableGenerator" ng-hide="loading">
        <tbody style="display: block; overflow-y: auto; overflow-x: hidden;">
            <tr>
                <td>#</td>
                <td style="padding-bottom:20px;">Stream Order</td>
                <td>Event Id</td>
                <td>Total Time</td>
                <td>Send To Stream</td>
                <td>Between1</td>
                <td>Write To Disk</td>
                <td>Between2</td>
                <td>Send To BLP</td>
                <td>BLP Logic</td>
                <td>Send To Store</td>
                <td>Set Model</td>
                <td>Send To Client</td>
            </tr>
            <tr style="display:none;" ng-repeat="val in headerRow track by $index | orderBy:streamOrder">
                <td>99</td>
                <td>{{val.streamOrder}}</td>
                <td>1a1b00a0-875e-4b12-9c50-88591bacb065</td>
                <td>{{val.TotalTime}}</td>
                <td>{{val.SendToStream}}</td>
                <td>{{val.Between1}}</td>
                <td>{{val.WriteToDisk}}</td>
                <td>{{val.Between2}}</td>
                <td>{{val.SendToBLP}}</td>
                <td>{{val.BLPlogic}}</td>
                <td>{{val.SendToStore}}</td>
                <td>{{val.SetModel}}</td>
                <td>{{val.SendToClient}}</td>
            </tr>
            <tr style="line-height:0px;opacity:0;color:rgb(170, 212, 255);" ng-repeat="val in headerRow track by $index | orderBy:streamOrder">
                <td style="color:rgb(170, 212, 255);">99</td>
                <td style="color:rgb(170, 212, 255);">{{val.streamOrder}}</td>
                <td style="color:rgb(170, 212, 255);">1a1b00a0-875e-4b12-9c50-88591bacb065</td>
                <td style="color:rgb(170, 212, 255);">{{val.TotalTime}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.SendToStream}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.Between1}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.WriteToDisk}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.Between2}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.SendToBLP}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.BLPlogic}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.SendToStore}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.SetModel}}</td>
                <td style="color:rgb(170, 212, 255);">{{val.SendToClient}}</td>
            </tr>
        </tbody>
    </table>

    <table class="CSSTableGenerator" ng-hide="loading">
        <tbody style="height:250px; display: block; overflow-y: auto; overflow-x: hidden;">
            <tr style="line-height:0px;color:rgb(170, 212, 255);">
                <td style="color:rgb(170, 212, 255);">#</td>
                <td style="color:rgb(170, 212, 255);">Stream Order</td>
                <td style="color:rgb(170, 212, 255);">Event Id</td>
                <td style="color:rgb(170, 212, 255);">Total Time</td>
                <td style="color:rgb(170, 212, 255);">Send To Stream</td>
                <td style="color:rgb(170, 212, 255);">Between1</td>
                <td style="color:rgb(170, 212, 255);">Write To Disk</td>
                <td style="color:rgb(170, 212, 255);">Between2</td>
                <td style="color:rgb(170, 212, 255);">Send To BLP</td>
                <td style="color:rgb(170, 212, 255);">BLP Logic</td>
                <td style="color:rgb(170, 212, 255);">Send To Store</td>
                <td style="color:rgb(170, 212, 255);">Set Model</td>
                <td style="color:rgb(170, 212, 255);">Send To Client</td>
            </tr>
            <tr ng-repeat="val in dataPoints track by $index | orderBy:streamOrder">
                <td>{{$index}}</td>
                <td>{{val.streamOrder}}</td>
                <td>{{val.eventId}}</td>
                <td>{{val.TotalTime}}</td>
                <td>{{val.SendToStream}}</td>
                <td>{{val.Between1}}</td>
                <td>{{val.WriteToDisk}}</td>
                <td>{{val.Between2}}</td>
                <td>{{val.SendToBLP}}</td>
                <td>{{val.BLPlogic}}</td>
                <td>{{val.SendToStore}}</td>
                <td>{{val.SetModel}}</td>
                <td>{{val.SendToClient}}</td>
            </tr>
        </tbody>
    </table>
    </div>

</div>

<footer>
    <p>&copy; 2014, Brandon Wilhite</p>
</footer>

<script type="text/javascript">

    function runScope(angularScope,callback){

		var result = void 0;
		var phase = angularScope.$root.$$phase;

		if(phase == '$apply' || phase == '$digest'){
			result = callback(angularScope);
		}else{
			angularScope.$apply(function(){
				result = callback(angularScope);
			});
		}

	    return result;
	}

</script>
<script type="text/javascript">

angular.module('ESPlus',[])
.controller('MainCtrl',['$scope','$http','$log',function($scope,$http,$log){

    $scope.model = [];
    $scope.headerRow = [];

    var dataHeader = {};
    var dataPoints = [];
    $scope.ranges = [];
    $scope.selectedRange = {};
    $scope.loading = true;

    var getRange = function(arr,start,end){
        //examples 1-100, 101-200
        return _.take(_.rest(dataPoints,start-1),(end - start + 1));
    };

    var getRangePartitions = function(len,by){
        var toReturn = [];
        var ends = [];
        var currStart = 1;

        while(currStart < len){
            var _range = {
                begin: currStart,
                end: currStart + (by - 1)
            };

            if(_range.end > len) _range.end = len;

            currStart = _range.end + 1;

            toReturn.push(_range);
        }

        return toReturn;
    };

    $scope.setRange = function(range){
        $scope.selectedRange = range;

        $scope.dataPoints = getRange(dataPoints,range.begin,range.end);
        $scope.headerRow = [_.last($scope.dataPoints)];
    };

    $http.get('http://54.68.110.91\:6001/Store/TestOrg/current/0')
    .then(function(data){

        //data.data.data 
        dataPoints = _.map(data.data.data,function(e){
            var evt = e._metadata;
            var _newEvt = {
                streamOrder: evt.streamOrder,
                eventId: evt.eventId,

                TotalTime: evt.perfClientReceived - evt.perfClientSent,
                SendToStream: evt.perfStreamReceived - evt.perfClientSent,
                Between1: evt.perfBeginCommit - evt.perfStreamReceived,
                WriteToDisk: evt.perfEndCommit - evt.perfBeginCommit,
                Between2: evt.perfPublishEvent - evt.perfEndCommit,
                SendToBLP: evt.perfPublishReceived - evt.perfPublishEvent,
                BLPlogic: evt.perfSendToStore - evt.perfPublishReceived,
                SendToStore: evt.perfStoreReceived - evt.perfSendToStore,
                SetModel: evt.perfNotifyModelChange - evt.perfStoreReceived,
                SendToClient: evt.perfClientReceived - evt.perfNotifyModelChange,

                perfClientSent: evt.perfClientSent,
                perfStreamReceived: evt.perfStreamReceived,
                perfBeginCommit: evt.perfBeginCommit,
                perfEndCommit: evt.perfEndCommit,
                perfPublishEvent: evt.perfPublishEvent,
                perfPublishReceived: evt.perfPublishReceived,
                perfSendToStore: evt.perfSendToStore,
                perfStoreReceived: evt.perfStoreReceived,
                perfNotifyModelChange: evt.perfNotifyModelChange,
                perfClientReceived: evt.perfClientReceived                
            };
            return _newEvt;
        });

        delete data.data.data;
        $scope.dataHeader = JSON.parse(JSON.stringify(data.data));

        $scope.ranges = getRangePartitions(dataPoints.length,500);
        $scope.setRange(_.first($scope.ranges));

        $scope.loading = false;
    })
    .catch(function(err){
        $log.log('http error: ' + JSON.stringify(err));
    });

}])

;

</script>

</body>
</html>
